.contacts{
	padding: 120px 0 90px 0;
	&__title{
		position: relative;
		@include before_circle;
		padding: 0px 0 0 12px;
	}
	&__descr{
		padding-top: 6px;
		.divider{
			margin:4px 0 0 0 ;
		}
	}
	&__wrapper{
		padding: 0px 35px 0px 52px;
		display: grid;
		grid-template-columns: 400px 585px;
		justify-content: space-between;
	}
	&__photo{
		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__text, &__social{
		margin-top: 20px;
	}
	&__link{
		margin-right: 25px;
		text-decoration: none;
		svg path{
			max-width: 30px;
			max-height: 30px;
		}
		&:hover{
			svg path{
				fill:$main-color;
				transition: 0.4s all;
			}
		}
	}
	&__form{
		margin-top: 30px;
		display: grid;
		grid-template: 45px 190px 45px / repeat(2, 280px);
		justify-content: space-between;
		row-gap: 27px;
		label{
			position: absolute;
			height: 18px;
			padding: 0px 8px;
			background-color: #fff;
			display: block;
			margin-bottom: 0;
			top: -9px;
			left: 12px;
			font-size: 12px;
			line-height: 18px;
		}
	}
	&__triggers{
		grid-column: 1/3;
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-items: center; 
		column-gap: 35px;
	}
	&__policy{
		font-size: 12px;
		line-height: 14px;
		display: flex;
		input{
			margin-right: 10px;
		}
	}
	&__input{
		position: relative;
		input{
			width: 100%;
			height: 100%;
			padding:0 20px;
			font-size: 12px;
		}
	}
	&__textarea{
		position: relative;
		grid-column: 1/3;
		textarea{
			width: 100%;
			height: 100%;
			padding:20px;
			font-size: 12px;
			resize: none;
		}
	}
	&__btn{
		color: #000;
		border: none;
		font-weight: 700;
		font-size: 14px;
		line-height: 21px;
	}
}